body,html{
    background-color: #fecec7;
    overflow-x: hidden;
    height: 100vh;
}

.navbar{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.navbar-toggler{
    border: none;
}

.principal{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/World_map_blank_gmt.svg/2560px-World_map_blank_gmt.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.ctnr-1{
    text-align: center;
    position: relative;
    display: flex;
    top: 40%;
    flex-direction: column;
}

.text{
    text-align: center;
}

.titulo, .titulo-2{
    color: #e96756;
}

.icone{
    width: 25px;
}

.como, .ultima{
    text-align: center;
}

.titulo-2{
    padding-bottom: 0;
    margin-bottom: 0;
}

.subtitulo{
    padding-bottom: 30px;
    margin: 0;
}

.img-como{
    background-color: #e88174;
    border-radius: 10px;
}

h5{
    padding: 10px;
    font-size: 22px;
}

p{
    font-size: 18px;
}